@media all {
    #navbar {
        position: left;
    }
}

body {
    display: flex;
    flex-direction: row-reverse;
    font-family: "Bitter", serif;
    font-weight: 350;
    font-size: 1em;
    color: #000;
    width: 95vw;
}

#navbar {
    display: flex;
    position: left;
    flex-direction: column;
    text-align: left;
    border-right: 1px #000 solid;
    background-color: #e9fff3;
    padding: 15px 20px 0 10px;
    gap: 25px;
    width: 700px;
    margin-right: 20px;
}

footer {
    position: bottom;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
}

.nav-link, a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.nav-link:hover, #nav-header, a:hover, .leafgreen, .explain {
    font-style: italic;
}

header {
    font-size: 24px;
    font-weight: 500;
}

li {
    background-color: #fff5fb;
}

.locke {
    font-size: 16px;
    font-weight: 450;
}

.main-section {
    margin-top: 20px;
}